<div class="cidade-div">
  <button mat-raised-button color="primary" (click)="carregarCidades()">Carregar Cidades</button>

    <mat-card *ngFor="let cidade of cidades" class="cidade-card">
      <mat-card-header>
        <mat-card-title>{{ cidade.idEstado }}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p><strong>Nome:</strong> {{ cidade.nome }}</p>
      </mat-card-content>
    </mat-card>
  </div>
  <div *ngIf="cidades.length === 0">
    <p>Nenhuma Cidade encontrada. Clique no botão para carregar.</p>
  </div>

